# WordPress Configuration
NEXT_PUBLIC_WP_URL=https://your-wordpress-site.com
NEXT_SITE_URL=http://localhost:3000

# WordPress Authentication
WP_APPLICATION_PASSWORD=your-application-password

# Next.js Configuration
NEXT_PREVIEW_SECRET=your-preview-secret
REVALIDATE_SECRET_KEY=your-revalidate-secret 